html {
  background-color: #00539f;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: orange;
  padding: 0 20px 20px 20px;
  border:　５px solid gray;
}
h1 {
  font-size: 60px;
  text-align: center;
  margin:0;
  padding: 20px;
  color:#00539f;
  text-shadow:3px 3px 1px black;
}
img{
  display: block;
  margin: 0 auto;
}
p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}